.custom-text-light {
    color: #e6e7eb;
}

.custom-text-light a:link {
    color: #E7F6F2;
}

.custom-text-dark {
    color: #444442;
}

.custom-bg-primary {
    background-color: #0c5e69;
}

.custom-bg-secondary {
    background-color: #dfc5aa;
}

.custom-bg-light {
    background-color: #e6e7eb;
}

.custom-bg-dark {
    background-color: #444442;
}

.custom-btn-outline-light {
    color: #e6e7eb;
    border-color: #e6e7eb;
}

.custom-btn-outline-dark {
    --bs-btn-color: #444442 !important;
    --bs-btn-border-color: #444442 !important;
    --bs-btn-hover-color: #e6e7eb !important;
    --bs-btn-hover-bg: #444442 !important;
    --bs-btn-hover-border-color: #444442 !important;
    --bs-btn-focus-shadow-rgb: 33,37,41;
    --bs-btn-active-color: #e6e7eb !important;
    --bs-btn-active-bg: #444442 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-active-border-color: #444442 !important;
    --bs-btn-disabled-color: #444442 !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #444442 !important;
    --bs-gradient: none;
}

.custom-btn-outline-light {
    --bs-btn-color: #e6e7eb !important;
    --bs-btn-border-color: #e6e7eb !important;
    --bs-btn-hover-color: #444442 !important;
    --bs-btn-hover-bg: #e6e7eb !important;
    --bs-btn-hover-border-color: #e6e7eb !important;
    --bs-btn-focus-shadow-rgb: 33,37,41;
    --bs-btn-active-color: #444442 !important;
    --bs-btn-active-bg: #e6e7eb !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-active-border-color: #e6e7eb !important;
    --bs-btn-disabled-color: #e6e7eb !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #e6e7eb !important;
    --bs-gradient: none;
}

.custom-dropdown-menu-light {
    --bs-dropdown-color: #444442 !important;
    --bs-dropdown-bg: #fff !important;
    --bs-dropdown-link-color: #444442 !important;
    --bs-dropdown-link-hover-color: #444442 !important;
    --bs-dropdown-link-hover-bg: #e6e7eb !important;
    --bs-dropdown-link-active-color: #e6e7eb !important;
    --bs-dropdown-link-active-bg: rgba(12, 94, 105, 0.8) !important;
}