.custom-text-light {
    color: #e6e7eb;
}

.custom-text-light a:link {
    color: #E7F6F2;
}

.custom-text-dark {
    color: #444442;
}

.custom-bg-primary {
    background-color: #0c5e69;
}

.custom-bg-secondary {
    background-color: #dfc5aa;
}

.custom-bg-light {
    background-color: #e6e7eb;
}

.custom-bg-dark {
    background-color: #444442;
}

.custom-btn-outline-light {
    color: #e6e7eb;
    border-color: #e6e7eb;
}